<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form id="log_in_form" action="http://localhost:3000/login" method="POST">
        <div align="center">
            <h1>LOG IN</h1>
            <table>
                <th>
                    <tr><input type="text" name="email" placeholder="Enter Email"><br><br></tr>
                    <tr><input type="password" name="password" placeholder="Enter Password"><br><br></tr>
                    <tr><input type="submit" id="loginbtn" value="LOG IN"></tr>
                </th>
            </table>
            <a href="http://127.0.0.1:5500/views/type.html">Register NOW!!!!</a>
        </div>
        

    </form>
</body>

</html>