<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div align="center">
        <h1>Registration</h1>
        <table>
            <form id="sign_up_form" action="http://localhost:3000/signup" method="POST">


                <th>

                    <tr><input type="text" name="email" id="emailtxt" placeholder="Email"><br></tr>


                    <tr><input type="password" name="password" id="passwordtxt" placeholder="Password"><br></tr>


                    <tr><input type="text" name="name" id="nametxt" placeholder="Name"><br></tr>


                    <tr><input type="txt" name="age" id="agetxt" placeholder="Age"><br></tr>


                    <tr><input type="txt" name="sc" id="sctxt" placeholder="secondary school"><br></tr>


                    <tr><input type="txt" name="ssc" id="ssctxt" placeholder="senior secondary school"><br></tr>


                    <tr><input type="txt" name="graduation" id="graduationtxt" placeholder="Graduation"><br></tr>


                    <tr><input type="txt" name="masters" id="mastertxt" placeholder="Masters"><br></tr>


                    <tr><input type="txt" name="phone_no" id="phonetxt" placeholder="Phone no."><br></tr>


                    <tr><input type="txt" name="address" id="addresstxt" placeholder="Address"><br></tr>


                    <tr><input type="txt" name="lst_cmpny" id="lsttxt" placeholder="Last Company"><br></tr>


                    <tr><input type="txt" name="crt_cmpny" id="cctxt" placeholder="current company"><br></tr>

                    <!-- <input type="file" id="image" name="image" value="" required> -->

                    <br>

                    <tr><input type="submit" id="signupbtn" value="Sign up" ></tr>
                </th>
            </form>
        </table>
    </div>

</body>

</html>