<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        function toEmployee() {
            window.location.href = "signup.html"
        }
        function toEmployer(){
            window.location.href = "employerRegistration.html"
        }
    </script>
    <title>Document</title>
</head>

<body>

    <div align="center">

        <table>
            <th>
                <tr>
                    <h2>Register as:</h2>
                </tr>
                <tr>
                    <input type="submit" id="empbtn" value="Employee" onclick="toEmployee()">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" id="emprbtb" value="Employeer" onclick="toEmployer()">
                </tr>
            </th>
        </table>
    </div>
</body>

</html>